OlegTsymbrakClient/SOAPClient/src/main/java/com/epam/lab/location/locationService.wsdl

        <!--
         Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c.
        -->
        <!--
         Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c.
        -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.soap.location.lab.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.soap.location.lab.epam.com/" name="LocationServiceImplService">
    <import namespace="http://soap.location.lab.epam.com/" location="http://localhost:8080/locationService?wsdl=1"/>
    <binding xmlns:ns1="http://soap.location.lab.epam.com/" name="LocationServiceImplPortBinding" type="ns1:LocationService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getAllLocationsByDistance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
        <operation name="getFriendsByCoordinates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
        <operation name="getFriendsByLocation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
        <operation name="getMyCoordinates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
        <operation name="setMyLocation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
        <operation name="setNewLocation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.location.lab.epam.com/"/>
            </output>
        </operation>
    </binding>
    <service name="LocationServiceImplService">
        <port name="LocationServiceImplPort" binding="tns:LocationServiceImplPortBinding">
            <soap:address location="http://localhost:8080/locationService"/>
        </port>
    </service>
</definitions>